/* month selector */
#nav-bar {
  /* alignment */
  display: inline-flex;
  justify-content: center;
  align-items: center;

  /* sizing */
  font-size: 1.25em;

  /* spacing */
  margin: 1em;
  padding-left: 0.5em;
  text-align: center;
}

#date {
  /* spacing */
  line-height: 0.75em;
  margin-left: 0.5em;

  /* colors */
  color: var(--month-font-color);
}

#arrow {
  color: var(--arrow-button-color);
}

#arrow:focus {
  color: var(--arrow-button-click-color);
}

#arrow:hover {
  cursor: pointer;
}

#view-toggle-button,
#calendar-jump-button {
  /* spacing */
  margin-right: 1em;

  /* colors */
  background-color: var(--view-toggle-button-color);
}

#view-toggle-icon,
#calendar-jump-icon {
  color: var(--view-toggle-icon-color);
}

#cal-jump-grid {
  /* spacing */
  margin-top: 0.125em;
  padding: 0.5em;
  line-height: 1.5em;

  /* sizing */
  width: fit-content;
  height: fit-content;

  /* shapes */
  border-radius: 0.25em;

  /* colors */
  background-image: var(--cal-jump-grid-background-color);
  background-color: var(--cal-jump-grid-background-color);
}

#cal-jump-grid-element {
  /* spacing */
  margin: 0.5em;
  padding: 0.25em;
  margin-top: 100px;

  /* shapes */
  border-radius: 0.25em;

  /* colors */
  color: var(--cal-jump-grid-font-color);
}

#cal-jump-grid-element:hover {
  background-color: var(--cal-jump-grid-hover-color);
}
