@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

/* globals */
:root {
  --grid-cols: 1;
  --grid-rows: 1;
  --background-color: #474448;
  --month-font-color: #f1f0ea;
  --arrow-button-color: #e0ddcf;
  --arrow-button-click-color: #000000;
  --weekday-header-font-color: #f1f0ea;
  --day-num-font-color: #e0ddcf;
  --grid-day-color: #e0ddcf;
  --grid-padding-color: #534b52;
  --grid-today-color: #f1f0ea;
}

html,
body {
  /* sizing */
  height: 100%;

  /* colors */
  background-color: var(--background-color);
}

/* month selector */
#nav-bar {
  /* sizing */
  font-size: 1.25em;
  min-width: 754px;

  /* spacing */
  padding-top: 1em;
  text-align: center;
}

#date {
  /* spacing */
  line-height: 0.75em;
  min-width: 250px;

  /* colors */
  color: var(--month-font-color);
}

#arrow {
  color: var(--arrow-button-color);
}

#arrow:focus {
  color: var(--arrow-button-click-color);
}

#arrow:hover {
  cursor: pointer;
}

/* calendar */
#calendar {
  height: 100%;
}

#weekday-header {
  display: grid;

  /*grid cols and rows*/
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(7, 1fr);

  /*spacing*/
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 2em;
}

#weekday-text {
  /* spacing */
  text-align: center;

  /* sizing */
  min-width: 100px;
  max-width: none;

  /* colors */
  color: var(--weekday-header-font-color);
}

#calendar-grid {
  display: grid;

  /*grid cols and rows*/
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);

  /* sizing */
  height: calc(100% - 135px);
  min-width: 714px;

  /* spacing */
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#day,
#today,
#padding {
  /* sizing */
  min-height: 75px;
  max-height: none;
  min-width: 100px;
  max-width: none;
  font-size: 0.75em;

  /* spacing */
  padding: 10px;
  padding-top: 8px;
  margin: 1px;

  /* colors */
  color: var(--day-num-font-color);
}

#day {
  /* colors */
  border: 1px solid var(--grid-day-color);
}

#padding {
  /* colors */
  border: 1px solid var(--grid-padding-color);
}

#today {
  /* colors */
  border: 1px solid var(--grid-today-color);
}
