@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

/* globals */
:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

html,
body {
  height: 100%;
}

#nav-bar {
  /* sizing */
  font-size: 1.25em;
  min-width: 754px;

  /* spacing */
  padding-top: 1em;
  text-align: center;
}

#date {
  line-height: 0.75em;
  min-width: 250px;
}

.icon:hover {
  cursor: pointer;
}

#calendar {
  height: 100%;
}

#weekday-header {
  display: grid;

  /*grid cols and rows*/
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(7, 1fr);

  /*spacing*/
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 2em;
}

#weekday-text {
  /* spacing */
  text-align: center;

  /* sizing */
  min-width: 100px;
  max-width: none;
}

#calendar-grid {
  display: grid;

  /*grid cols and rows*/
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);

  /* sizing */
  height: calc(100% - 135px);
  min-width: 714px;

  /* spacing */
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;

}

#day,
#padding {
  /* sizing */
  min-height: 75px;
  max-height: none;
  min-width: 100px;
  max-width: none;
  font-size: 0.75em;

  /* spacing */
  padding: 10px;
  padding-top: 8px;
  margin: 1px;
}

#day {
  border: 1px solid black;
}

#padding {
  /* colors */
  border: 1px solid #ddd
}
