@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

/* globals */
:root {
  --grid-cols: 1;
  --grid-rows: 1;

  /* background colors */
  --background-color: #474448;

  /* arrow colors */
  --arrow-button-color: #e0ddcf;
  --arrow-button-click-color: #474448;

  /* button colors */
  --view-toggle-button-color: #f1f0ea;
  --view-toggle-icon-color: #474448;

  /* calendar jump grid colors */
  --cal-jump-grid-background-color: #f1f0ea;
  --cal-jump-grid-font-color: #474448;
  --cal-jump-grid-hover-color: #534b52;
  --cal-jump-year-font-color: #474448;
  --cal-jump-arrow-color: #474448;

  /* font colors */
  --month-font-color: #f1f0ea;
  --weekday-header-font-color: #f1f0ea;
  --day-num-font-color: #e0ddcf;
  --padding-num-font-color: #e0ddcf;
  --today-num-font-color: white;

  /* grid colors */
  --grid-day-color: #e0ddcf;
  --grid-padding-color: #534b52;
  --grid-today-color: white;
}

html,
body {
  /* sizing */
  height: 100%;

  /* colors */
  background-color: var(--background-color);
}
